@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/lib/imagenes/Profile.png" height="120vh" width="120vh" />
    <br />
    <h3>Bienvenido</h3>
    <br />
    <div id="datos">
        <h4>Datos</h4>
        <div id="contenidoDatos">
            <h6>Cedula: 10000230</h6>
            <h6> Nombre: juan</h6>
            <h6>Dirección: cr32 #41-12</h6>
            <h6> Telefono: 3281712</h6>
            <h6> Correo: juan@hotmail.com</h6>
            <h6>Contraseña: *******</h6>
        </div>
        <div id="botones">
            <button onclick="window.location.href='/Acceso/Ingresar'" id="btnCerrar">Cerrar Sesión</button>
        </div>
    </div>
</div>
