@model LuchoSoft.Models.Insumo

@{
    ViewData["Title"] = "Edit";
}

<script src="https://kit.fontawesome.com/3699f31e0a.js" crossorigin="anonymous"></script>

<style>
    body {
        min-height: 100vh;
        margin: 0;
    }

    #Formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1500px;
        width: 100%;
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    #formularioRecuadro {
        border: 2px solid #9c9c9c;
        padding: 5px;
        border-radius: 10px;
        background-color: #dee3df;
    }
</style>

<h1 class="text-center">Editar</h1>

<hr />
<div id="formularioRecuadro">
    <div id="Formulario" class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdInsumo" />
                <div class="form-group">
                    <i class="fa-solid fa-image" style="color: #e12424;"></i>
                    <label asp-for="ImagenInsumo" class="control-label"></label>
                    <input asp-for="ImagenInsumo" class="form-control" />
                    <span asp-validation-for="ImagenInsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-signature" style="color: #e12424;"></i>
                    <label asp-for="NombreInsumo" class="control-label"></label>
                    <input asp-for="NombreInsumo" class="form-control" />
                    <span asp-validation-for="NombreInsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-balance-scale" style="color: #e12424;"></i>
                    <label asp-for="UnidadesDeMedidaInsumo" class="control-label"></label>
                    <input asp-for="UnidadesDeMedidaInsumo" class="form-control" />
                    <span asp-validation-for="UnidadesDeMedidaInsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-boxes" style="color: #e12424;"></i>
                    <label asp-for="StockInsumo" class="control-label"></label>
                    <input asp-for="StockInsumo" class="form-control" />
                    <span asp-validation-for="StockInsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-store" style="color: #e12424;"></i>
                    <label asp-for="EstadoInsumo" class="control-label"></label>
                    <input asp-for="EstadoInsumo" class="form-control" />
                    <span asp-validation-for="EstadoInsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-cart-shopping" style="color: #e12424;"></i>
                    <label asp-for="IdCategoriaInsumoInsumos" class="control-label"></label>
                    <select asp-for="IdCategoriaInsumoInsumos" class="form-control" asp-items="ViewBag.IdCategoriaInsumoInsumos"></select>
                    <span asp-validation-for="IdCategoriaInsumoInsumos" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" style="background-color: #48110d; font-size: 18px; width: 100px;" />
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger" style="background-color: #e12424; font-size: 18px; width: 100px;">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
