@model LuchoSoft.Models.Empleado

@{
    ViewData["Title"] = "Edit";
}

<center>
    <h1>Editar Empleado</h1>
</center>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group">
                <label asp-for="ImagenEmpleado" class="control-label"></label>
                <input asp-for="ImagenEmpleado" class="form-control" />
                <span asp-validation-for="ImagenEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEmpleado" class="control-label"></label>
                <input asp-for="NombreEmpleado" class="form-control --bs-border-color" readonly />
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoEmpleado" class="control-label"></label>
                <input asp-for="TelefonoEmpleado" class="form-control" />
                <span asp-validation-for="TelefonoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionEmpleado" class="control-label"></label>
                <input asp-for="DireccionEmpleado" class="form-control" />
                <span asp-validation-for="DireccionEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoEmpleado" class="control-label"></label>
                <input asp-for="EstadoEmpleado" class="form-control" />
                <span asp-validation-for="EstadoEmpleado" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-controller="Usuarios" asp-action="Edit" asp-route-nombre="@Model.NombreEmpleado" class="btn btn-warning">Editar Usuario</a>
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-controller="Empleadoes" asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!-- Agrega SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Script para mostrar SweetAlert y confirmar la eliminación -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Busca el formulario por su ID o clase y escucha el evento submit
        document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita que el formulario se envíe automáticamente

            // Muestra el SweetAlert de confirmación
            Swal.fire({
                title: 'Confirmación',
                text: '¿Deseas actualizar el Empleado?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si se confirma la eliminación, envía el formulario
                    this.submit();
                }
            });
        });
    });
</script>