
@*
@model LuchoSoft.Models.OrdenesDeProduccion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrdenesDeProduccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescripcionOrden" class="control-label"></label>
                <input asp-for="DescripcionOrden" class="form-control" />
                <span asp-validation-for="DescripcionOrden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaOrden" class="control-label"></label>
                <input asp-for="FechaOrden" class="form-control" />
                <span asp-validation-for="FechaOrden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpleadoOrdenesDeProduccion" class="control-label"></label>
                <select asp-for="IdEmpleadoOrdenesDeProduccion" class ="form-control" asp-items="ViewBag.IdEmpleadoOrdenesDeProduccion"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

*@



@model LuchoSoft.Models.OrdenesDeProduccion

@{
    ViewData["Title"] = "Create";
}

<script src="https://kit.fontawesome.com/3699f31e0a.js" crossorigin="anonymous"></script>

<style>
    body {
        min-height: 100vh;
        margin: 0;
    }

    #Formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1500px;
        width: 100%;
        margin-top: 40px;
    }

    .form-group {
        margin-bottom: 50px;
        margin-left: 20px;
    }

    #formularioRecuadro {
        border: 2px solid #9c9c9c;
        padding: 5px;
        border-radius: 10px;
        background-color: #dee3df;
        height:600px;
        width:1000px;
        margin-left:70px;
    }

    .fa-solid {
        margin-right: 10px;
       
    }
</style>

<h1 class="text-center">Registrar orden de produccion</h1>


<hr />
<div id="formularioRecuadro">
    <div id="Formulario" class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <i class="fa-solid fa-comment-dots" style="color: #e12424;"></i>
                    <label asp-for="DescripcionOrden" class="control-label"></label>
                    <input asp-for="DescripcionOrden" class="form-control" />
                    <span asp-validation-for="DescripcionOrden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-calendar-days" style="color: #e12424;"></i>
                    <label asp-for="FechaOrden" class="control-label"></label>
                    <input asp-for="FechaOrden" class="form-control" />
                    <span asp-validation-for="FechaOrden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-id-card-clip" style="color: #e12424;"></i>
                    <label asp-for="IdEmpleadoOrdenesDeProduccion" class="control-label"></label>
                    <select asp-for="IdEmpleadoOrdenesDeProduccion" class="form-control" asp-items="ViewBag.IdEmpleadoOrdenesDeProduccion"></select>
                </div>


                <div class="d-flex justify-content-around" style="margin-top:100px;">

                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-primary" style="background-color: #48110d; font-size: 18px; width: 100px;" />
                    </div>

                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger" style="background-color: #e12424; font-size: 18px; width: 100px;">Volver</a>
                    </div>
                </div>

            </form>




               




            
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





